# Application configuration
ENVIRONMENT=
NAME=
VERSION=
API_PREFIX=

# LangSmith configuration
LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LANGSMITH_ENDPOINT=
LANGSMITH_PROJECT=

# PostgreSQL/PGVector configuration
DATABASE_URL=

# Ollama configuration
OLLAMA_EMBEDDING_MODEL=
OLLAMA_LLM_MODEL=

# PGVector tables names
COLLECTIONS_TABLE=
EMBEDDINGS_TABLE=

# PocketLM default settings
DEFAULT_COLLECTION_NAME=
DEFAULT_USER_ID=
DEFAULT_SESSION_ID=

# Google GenAI configuration
GEMINI_API_KEY=
GEMINI_EMBEDDING_MODEL=
GEMINI_LLM_MODEL=
GEMINI_EMBEDDING_DIMS=

# Mem0 configuration
MEM0_API_KEY=
MEM0_RERANKER_MODEL=

# Cohere configuration
COHERE_API_KEY=
COHERE_RERANKING_MODEL=